<%- include('../partials/header') %>

    <form action="/entries/<%= entry.id %>?_method=PUT" method="POST" autocomplete="off">
        <textarea class="autoresizing" name="content" rows="20" cols="80" required><%= entry.content %></textarea>
        <br>
        <button type="submit">Update this Entry</button>
    </form>

<%- include('../partials/footer') %>