<%- include('../partials/header') %>

    <form action="/entries" method="POST" autocomplete="off">
        Please enter your full name: <input type="text" name="author">
        <br><br>
        Enter your message: <br>
        <textarea name="content" rows="4" cols="50" required></textarea>
        <br>
        <button type="submit">Save Entry</button>
    </form>

<%- include('../partials/footer') %>