body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/LQIlMde.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 117%;
  background-attachment: fixed;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

.delete-form {
  display: inline-block;
  align-items: center;
  margin-right: 10px;
}
	
.delete-form button {
  color: rgb(255, 0, 0);
}
	
li {
  list-style: none;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
}


.nav-link {
  text-decoration: none;
  font-size: 17px;
  color: rgb(255, 255, 255);
  padding: 0 10px;
}

.login img {
  vertical-align: middle; 
  width: 20px;
  height: auto;
}

.main-title{
  font-size: 70px;
}